@media (max-width: 525px) {
    

    #hero .max-w-6xl {
        padding-left: 10px; /* Căn sát trái */
        padding-right: 10px; /* Tránh bị dính sát mép */
    }

    #hero h1 {
        font-size: 16px; /* Giảm kích thước chữ */
        line-height: 1.4;
    }

    #hero p {
        font-size: 12px;
        width: 60%; /* Chiếm hết chiều ngang để không bị giới hạn */
    }

    #hero button {
        padding: 8px 16px;
        font-size: 14px;
    }
}
@keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  
  @keyframes spinSlow {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .floating-image {
    animation: 
      float 4s ease-in-out infinite,
      spinSlow 20s linear infinite;
    will-change: transform;
    transition: transform 0.3s ease-in-out;
  }
